
<div class="tree">
    <ul>
        <li >
            <span class="btn btn-warning"><i class="icon-calendar"></i>  </span>
            <ul>
                <li >
                	<span class="bg-primary" style="color:black"><i class="icon-minus-sign"></i> <input type="text"> <button type="button" class="btn btn-default">Crear</button> </span>
                    <ul>
                        <li >
	                        <a href="{{csv.path}}"><span class="btn btn-success"><i class="icon-time"></i> {{csv.name}}</span> &ndash; Descargar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="tree">
    <ul>
        <li  ng-repeat="date in files.data">
            <span class="btn btn-warning"><i class="icon-calendar"></i> {{date.name}} </span>
            <ul>
                <li ng-repeat="human in date.list">
                	<span class="btn btn-info"><i class="icon-minus-sign"></i> {{human.name}}</span>
                    <ul>
                        <li ng-repeat="csv in human.list">
	                        <a href="{{csv.path}}"><span class="btn btn-success"><i class="icon-time"></i> {{csv.name}}</span> &ndash; Descargar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>