<div class="panel panel-primary">
	<div class="panel-heading"> <b>Contacto</b> </div>
	<div class="panel-body">
		<div class="col-md-12" >
			<a target="_blank" href="https://www.facebook.com/D.Ex.DFRA" class="btn btn-block btn-social btn-facebook">
				<i class="fa fa-facebook"></i> D.Ex.DFRA
			</a>
			<a href="mailto:daniel.felipe.ruiz.avella@gmail.com" class="btn btn-block btn-social btn-google-plus">
				<i class="fa fa-google-plus"></i> daniel.felipe.ruiz.avella@gmail.com
			</a>
			<a target="_blank" href="https://www.linkedin.com/in/dfruiza/" class="btn btn-block btn-social btn-linkedin">
				<i class="fa fa-linkedin"></i> dfruiza
			</a>
			<a target="_blank" href="https://twitter.com/Danielruiz212" class="btn btn-block btn-social btn-twitter">
				<i class="fa fa-twitter"></i> @Danielruiz212
			</a>
			<a href="tel:+573222845459" class="btn btn-block btn-social btn-info">
				<i class="fa fa-phone"></i> +573222845459
			</a>
		</div>
	</div>
</div>
