<div class="panel panel-primary">
	<div class="panel-heading"> <b>Datos Personales</b> </div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<a class="thumbnail">
					<img class="img-responsive" src="./img/IMG_0666.jpg" alt="Daniel Felipe Ruiz Avella">
				</a>
			</div>
			<div class="col-md-offset-3 col-md-6" >
				<li class="list-group-item" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified "><a type="button" class="btn btn-primary"><b>Nombres:</b></a><a type="button" class="btn btn-default"><b>Daniel Felipe</b></a></div></li>
				<li class="list-group-item" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>Apellidos:</b></a><a type="button" class="btn btn-default"><b>Ruiz Avella</b></a></div></li>
				
				<li class="list-group-item hidden-md hidden-xs" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>Cédula de Ciudadania:</b></a tton><a type="button" class="btn btn-default"><b>1.127.944.391</b></a></div></li>
				<li class="list-group-item hidden-lg hidden-sm" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>C.C:</b></a tton><a type="button" class="btn btn-default"><b>1.127.944.391</b></a></div></li>
				
				<li class="list-group-item hidden-md hidden-xs" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>Profesión:</b></a><a type="button" class="btn btn-default"><b>Ingeniero de Sistemas</b></a></div></li>
				<li class="list-group-item hidden-lg hidden-sm hidden-xs" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>Profesión:</b></a><a type="button" class="btn btn-default"><b>Ing. de Sistemas</b></a></div></li>
				<li class="list-group-item hidden-lg hidden-md hidden-sm" style="border:0px; padding:7px 15px"> <div class="btn-group btn-group-justified"><a type="button" class="btn btn-primary"><b>Profesión:</b></a><a type="button" class="btn btn-default"><b>Sistemas</b></a></div></li>
			</div>
			<div class="col-md-offset-3 col-md-6">
				<label><h2>Extracto</h2></label>
				<div class="well">
					<p align="justify">Especialista en desarrollo de aplicaciones web garantizando su óptimo rendimiento por medio de procedimientos almacenados y cacheo de datos con código limpio que permita su fácil compresión, crecimiento y mantenimiento; Facilidad de trabajo en equipo; Siempre dispuesto para adquirir conocimientos sobre las nuevas tecnologías del mercado que permitan agilizar y/u optimizar el rendimiento de los sistemas.</p>
				</div>
			</div>
		</div>
		<!-- 
		 -->
	</div>
</div>
