<div class="panel panel-primary">
	<div class="panel-heading"> <b>Educación</b> </div>
	<div class="panel-body">
		<div class="col-md-12" >
			<div class="row">
				<div class="col-sm-3 col-md-offset-1">
					<div class="thumbnail">
						<img src="./img/unefa.png" alt="Universidad Nacional Experimental Politécnica de la Fuerza Armada Bolivariana">
					</div>
				</div>
				<div class="col-md-7">
					<h3>U.N.E.F.A. - Universidad Nacional Experimental de las Fuerzas Armadas</h3>
					<p>Los Teques, Estado Miranda, Venezuela</p>
					<p>Ingeniería de Sistemas, 2009-2015</p>
					<div class="panel-body">
						<a class="btn btn-block btn-social btn-info" target="_blank" href="http://www.unefa.edu.ve">
							<i class="fa fa-home"></i> Página Oficial de la UNEFA
						</a>
						<a class="btn btn-block btn-social btn-facebook" target="_blank"  href="https://www.facebook.com/UNEFA/">
							<i class="fa fa-facebook"></i> Facebook de la UNEFA
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
