<div class="panel panel-primary">
	<div class="panel-heading"> <b>Experiencia Laboral</b> </div>
	<div class="panel-body">
		<div class="col-md-12" >
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading"><h4><b>Compañía Anónima Nacional Teléfonos de Venezuela (CANTV)</b></h4></div>
					<div class="panel-body">
						<div class="col-sm-3 col-md-offset-1">
							<div class="thumbnail">
								<img src="./img/cantv.png" alt="Universidad Nacional Experimental Politécnica de la Fuerza Armada Bolivariana">
							</div>
						</div>
						<div class="col-md-7">
							<p><b>Cargo:</b> Analista de Portales Web</p>
							<p><b>Departamento:</b> Gerencia General de Tecnología y Operaciones. (GGTO)</p>
							<p><b>Dirección:</b> Caracas, Miranda - Venezuela.</p>
							<p><b>Fecha:</b> Julio 2016 – Agosto 2016</p>
						</div>
					</div>
					<div class="panel-footer">
						<a target="_blank" href="http://www.cantv.com.ve/" class="btn btn-social-icon btn-info"><i class="fa fa-home"></i></a>
						<a target="_blank" href="https://www.facebook.com/pages/Cantv/172458282781951?ref=br_rs" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
						<a target="_blank" href="@ContactoCantv" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>

				
				<div class="panel panel-info">
					<div class="panel-heading"><h4><b>Fundación Bolivariana de Informática y Telemática. (FUNDABIT)</b></h4></div>
					<div class="panel-body">
						<div class="col-sm-3 col-md-offset-1">
							<div class="thumbnail">
								<img src="./img/fundabit.png" alt="Universidad Nacional Experimental Politécnica de la Fuerza Armada Bolivariana">
							</div>
						</div>
						<div class="col-md-7">
							<p><b>Cargo:</b> Analista de Programación</p>
							<p><b>Departamento:</b> División de Sistemas del Ministerio del Poder Popular Para la Educación</p>
							<p><b>Dirección:</b> Caracas, Distrito Capital - Venezuela</p>
							<p><b>Fecha:</b> Enero 2015 – Febrero 2016</p>
						</div>
					</div>
					<div class="panel-footer">
						<a target="_blank" href="http://www.fundabit.gob.ve/" class="btn btn-social-icon btn-info"><i class="fa fa-home"></i></a>
						<a target="_blank" href="https://twitter.com/Fundabit" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-heading"><h4><b>Compañía Anónima Nacional Teléfonos de Venezuela (CANTV)</b></h4></div>
					<div class="panel-body">
						<div class="col-sm-3 col-md-offset-1">
							<div class="thumbnail">
								<img src="./img/cantv.png" alt="Universidad Nacional Experimental Politécnica de la Fuerza Armada Bolivariana">
							</div>
						</div>
						<div class="col-md-7">
							<p><b>Cargo:</b> Pasante</p>
							<p><b>Departamento:</b> Gerencia General de Tecnologías de Información (GGTI)</p>
							<p><b>Dirección:</b> Caracas, Miranda - Venezuela.</p>
							<p><b>Fecha:</b> Agosto 2014 – Diciembre 2014</p>
						</div>
					</div>
					<div class="panel-footer">
						<a target="_blank" href="http://www.cantv.com.ve/" class="btn btn-social-icon btn-info"><i class="fa fa-home"></i></a>
						<a target="_blank" href="https://www.facebook.com/pages/Cantv/172458282781951?ref=br_rs" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
						<a target="_blank" href="@ContactoCantv" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
