<div class="panel panel-primary">
	<div class="panel-heading"> <b>Aptitudes y Conocimientos</b> </div>
	<div class="panel-body">
		<div class="text-center">
			<div class="col-md-12">
				<ul class="list-group col-md-2">
					<li class="list-group-item list-group-item-info"><b>Lenguajes Informáticos:</b></li>
					<li class="list-group-item">PHP</li>
					<li class="list-group-item">HTML5</li>
					<li class="list-group-item">CSS3</li>
					<li class="list-group-item">JavaScript</li>
					<li class="list-group-item">Python</li>
					<li class="list-group-item">Java</li>
				</ul>
				<ul class="list-group col-md-2">
					<li class="list-group-item list-group-item-info"><b>Bases de Datos</b></li>
					<li class="list-group-item">PostgresSQL</li>
					<li class="list-group-item">MySQL</li>
				</ul>
				<ul class="list-group col-md-2">
					<li class="list-group-item list-group-item-info"><b>Frameworks:</b></li>
					<li class="list-group-item">JQuery</li>
					<li class="list-group-item">Yii Framework</li>
					<li class="list-group-item">DJango</li>
					<li class="list-group-item">Bootstrap</li>
				</ul>
				<ul class="list-group col-md-3">
					<li class="list-group-item list-group-item-info"><b>Sistemas Operativos</b></li>
					<li class="list-group-item">Windows</li>
					<li class="list-group-item">Ubuntu</li>
				</ul>
				<ul class="list-group col-md-3">
					<li class="list-group-item list-group-item-info"><b>Herramientas</b></li>
					<li class="list-group-item">GIT</li>
					<li class="list-group-item">Heroku</li>
					<li class="list-group-item">Kettle 5.4+ (Pentaho Data Integration)</li>
					<li class="list-group-item">Microsoft Office</li>
				</ul>
			</div>
		</div>
	</div>
</div>
